<div>
	<% @posts.each do |post| %>
	   <% post.images.each do |image| %>
	      <%= image_tag image.variant(resize_to_fit: [400, 400]) %>
	   <% end %>

	   <p>
       <strong>Caption:</strong>
       <%= post.caption %>
       </p>

    <% end %>
</div>
